.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
    border: 1px solid #888;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

input[type="number"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: auto;
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: auto;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 80px;
    background-color: #2b2b2b;
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #545454;

}

.button-1 {
    background-color: #fc3d3d;
}

.button-1:hover {
    background-color: #ff6464;
}

.button-1:disabled {
    display: none;
}

.modal-button-area {
    position: relative;
    right: 0px;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 80px;
}

.divider{
    width: 20px;
    height: 1px;
    display: inline-block;
}